/*------<====| Import / link all font styles |====>------*/
@use './imports/fonts/fonts' as *;

/*------<====| Import base |====>------*/
@use './imports/base/base' as *;

/*------<====| Link colors |====>------*/
@use './imports/colors/colors' as *;

/*------<====| Dark mode |====>------*/
@use './imports/themes/dark-theme' as *;

@use './imports/custom/buttons' as *;

/*------<====| Import custom header style |====>------*/
@use './imports/custom/header' as *;

/*------<====| Import all custom colors and shades |====>------*/
:root {
    /*----------< colors >----------*/
    @each $colors, $value in $colors {
        --clr-#{$colors}: #{$value};
    }

    // /*----------< shades >----------*/
    // @each $color, $shades in $shades {
    //     @each $shade, $value in $shades {
    //         --clr-#{$color}-#{$shade}: #{$value};
    //     }
    // }
}


:root {
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fff;
    --input-bg: #f8f8fa;
    --border-color: #eef2f4;
    --body-color: #273346;
    --settings-icon-color: #c1c7cd;
    --msg-message: #969eaa;
    --chat-text-bg: #f1f2f6;
    --button-bg-color: #f0f7ff;
    --detail-font-color: #919ca2;

    --clr-primary: var(--clr-green);

    --hover-transition: 0.6s;


    --box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    //--box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    --background-image: radial-gradient(circle at 57% 36%, rgba(145,145,145, 0.04) 0%, rgba(145,145,145, 0.04) 10%,transparent 10%, transparent 100%),radial-gradient(circle at 22% 61%, rgba(145,145,145, 0.04) 0%, rgba(145,145,145, 0.04) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 68% 97%, rgba(145,145,145, 0.04) 0%, rgba(145,145,145, 0.04) 41%,transparent 41%, transparent 100%),radial-gradient(circle at 57% 89%, rgba(145,145,145, 0.04) 0%, rgba(145,145,145, 0.04) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 39% 80%, rgba(145,145,145, 0.04) 0%, rgba(145,145,145, 0.04) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 88% 71%, rgba(145,145,145, 0.04) 0%, rgba(145,145,145, 0.04) 30%,transparent 30%, transparent 100%),linear-gradient(0deg, rgb(242,242,242),rgb(242,242,242));
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}






/*------- Custom -------*/

a {
    font-size: .9rem;
    color: var(--chat-text-color);
}





section {
    padding:2rem 6%;
}















/*------------ hero section ------------*/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-image);

    .hero-container {
        gap:3rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        position: relative;
        overflow: hidden;

        .hero-container-text {
            flex:1 1 30rem;
    
            h2 {
                color: var(--chat-text-color);
                padding-top: 1rem;
            }
    
            p{
                color: var(--chat-text-color);
                line-height: 1.5;
                padding:1rem 0;
            }
        }

        .hero-container-media {
            border-radius: 0 2rem;
            flex:1 1 30rem;
            margin:2rem 0;
            pointer-events: none;
            margin-right: 1rem;
            overflow: hidden;
            background: var(--clr-primary);
            box-shadow: var(--image-shadow);
            
            video {
                display: flex;
                flex-direction: column;
            }
    
            .animated-text {
                padding: 1rem;

                p {
                    font-size: 1.2rem;
                    color: var(--clr-white);
                }
            }
        }
    }

    .hero-container-socials {
        display: flex;
        gap: .4rem;
        margin-top: 4rem;
        justify-content: center;

        a {
            height: 2.5rem;
            width: 2.5rem;
            line-height: 2.5rem;
            font-size: 1.5rem;
            background: var(--clr-bg);
            color: var(--clr-black);
            border-radius: .5rem;
            margin-left: .3rem;
            cursor: pointer;
            text-align: center;
            transition: .5s;
            background-color: var(--chat-text-bg);
    
            &:hover{
                border-radius: 50%;
                color: var(--clr-white);
                background: var(--clr-primary);
            }
        }

        div {
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 2rem;
            background: var(--clr-bg);
            color: var(--clr-black);
            border-radius: .5rem;
            margin-left: .3rem;
            cursor: pointer;
            text-align: center;
    
            &:hover{
                color: var(--clr-white);
                background: var(--clr-primary);
            }
        }
    }
}
